.signInForm
  color red

.medium-spacing
  margin-top 21px

.small-spacing
  margin-top 11px

.center-full
  text-align center
  width 100%

.no-padding
  padding 0 !important

.no-margin
  margin 0 !important
