<div class="login_bg">

  <div class="row">

    <div class="col-sm-10 col-sm-offset-1">

      <div class="login_box" style="position: relative;">
        <h1 class="hdng-3  text-center" style="font-weight: 400;">Forgot Your Password</h1>
        <p class="forgot_p">To reset your password, enter the email address you use to login to Fisher.  A link will be emailed to this address which will let you reset your password</p>
        <forget-password-form></forget-password-form>
        <div class="row no-padding no-margin text-p text-center">or <a ui-sref="login.signin">Go Back to the login page</a></div>
      </div>

    </div>
  </div>

  <div class="clearfix"></div>

</div>

